<ion-header style="max-width: 1080px; justify-content: center; display: flex; margin: 0 auto;" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card style="max-width: 1080px; justify-content: center; margin: 10px auto; border-radius: 10px;">
    <ion-item>
      <ion-label>Nessa aba você consegue tudo sobre nosso projeto!</ion-label>
    </ion-item>
  </ion-card>

  <ion-card  style="max-width: 1080px; justify-content: center; margin: 20px auto; border-radius: 10px;">
    <ion-item>
      <ion-icon style="margin-right: 10px" name="desktop-outline"></ion-icon>
      <ion-label>Sobre o Projeto:</ion-label>
      <ion-button fill="outline" slot="end">Ver mais</ion-button>
    </ion-item>
  
    <ion-card-content>
      Esse projeto foi desenvolvido por Jonnathan Cruz, estudante do curso Ciência da Computação
      e apaixonado pela tecnologia.
    </ion-card-content>
  </ion-card>

  <ion-card  style="max-width: 1080px; justify-content: center; margin: 20px auto; border-radius: 10px;">
    <ion-item>
      <ion-icon style="margin-right: 10px" name="clipboard-outline"></ion-icon>
      <ion-label>Portifolio:</ion-label>
      <ion-button fill="outline" slot="end">Ver mais</ion-button>
    </ion-item>
  
    <ion-card-content>
      O meu portifolio se baseia nesse projeto e no que eu tenho desenvolvido em HTML, CSS, JS, Bootstrap.
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
