<!-- <ion-content>
  <ion-header style="max-width: 1080px; justify-content: center; display: flex; margin: 0 auto;" [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="cards">
    <ion-item>
      a
    </ion-item>
  </ion-card>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      JC Store
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Pesquise um produto"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>Categorias</h2>
    <p>Vet tudo</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Novidades</h2>
    <p>Ver tudo</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of featuredProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Mais vendidas</h2>
    <p>Ver tudo</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

