<ion-header style="max-width: 1080px; justify-content: center; display: flex; margin: 0 auto;" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="cardslist">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <app-modal-content></app-modal-content>
      </ng-template>
    </ion-modal>
  <ion-list>
    <ion-item>
      <ion-icon class="icones" name="person-outline"></ion-icon>
      Editar conta
    </ion-item>

    <ion-item>
      <ion-icon class="icones" name="wallet-outline"></ion-icon>
      Promoções
    </ion-item>

    <ion-item>
      <ion-icon class="icones" name="cart-outline"></ion-icon>
      Carrinho
    </ion-item>

    <ion-item>
      <ion-icon class="icones" name="star-outline"></ion-icon>
      Favoritos
    </ion-item>

    <ion-item>
      <ion-icon class="icones" name="exit-outline"></ion-icon>
      Sair
    </ion-item>
  </ion-list>
</ion-card>

</ion-content>
